{% extends "base.base.twig" %}

{% block content %}
    {% include 'base.banner.twig' %}
    <h1>{{ player.firstName }} {{ player.lastName }}{% if auth_user() %} &nbsp;<a type="button" href="{{ route('admin-player-edit',[player.id]) }}" class="btn btn-success btn-xs">Edit</a>{% endif %}</h1>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="{{ route('player-page-player-stats', [player.id]) }}">Player Stats</a>
        </li>
        <li role="presentation">
            <a href="{{ route('player-page-goalie-stats', [player.id]) }}" >Goalie Stats</a>
        </li>
        <li role="presentation">
            <a href="{{ route('player-page-records', [player.id]) }}" >Records</a>
        </li>
    </ul>
    <h3>Regular Season Stats</h3>
    <table id="stats-table" class="table table-condensed table-responsive table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th><small><span class="hidden-sm hidden-md hidden-lg">S</span><span class="hidden-xs">Season</span></small></th>
            <th><small>G</small></th>
            <th><small>A</small></th>
            <th><small>P</small></th>
            <th><small>GP</small></th>
            <th><small>GPG</small></th>
            <th><small>APG</small></th>
            <th><small>PPG</small></th>
            <th><small>TG%</small></th>
            <th><small>GWG</small></th>
            <th><small>W</small></th>
            <th><small>L</small></th>
            <th><small>+/- </small></th>
            <th class="hidden-xs"><small>W%</small></th>
        </tr>
        </thead>
        <tbody>
        {% for season, statsLine in regStats %}
            {% if season != 'all' %}
            <tr>
                <td><small><a href="{{ adminRoute('season-page', [statsLine.season]) }}">{{ statsLine.season }}</a></small></td>
                <td><small>{{ statsLine.goals }}</small></td>
                <td><small>{{ statsLine.assists }}</small></td>
                <td><small>{{ statsLine.points }}</small></td>
                <td><small>{{ statsLine.gamesPlayed }}</small></td>
                <td><small>{{ statsLine.goalsPerGame }}</small></td>
                <td><small>{{ statsLine.assistsPerGame }}</small></td>
                <td><small>{{ statsLine.pointsPerGame }}</small></td>
                <td><small>{{ statsLine.teamGoalsPercentage }}</small></td>
                <td><small>{{ statsLine.gameWinningGoals }}</small></td>
                <td><small>{{ statsLine.wins }}</small></td>
                <td><small>{{ statsLine.losses }}</small></td>
                <td><small>{{ statsLine.plusMinus }}</small></td>
                <td class="hidden-xs"><small>{{ statsLine.winPercentage }}</small></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><small><strong>Total:</strong></small></td>
            <td><small>{{ regStats.all.goals }}</small></td>
            <td><small>{{ regStats.all.assists }}</small></td>
            <td><small>{{ regStats.all.points }}</small></td>
            <td><small>{{ regStats.all.gamesPlayed }}</small></td>
            <td><small>{{ regStats.all.goalsPerGame }}</small></td>
            <td><small>{{ regStats.all.assistsPerGame }}</small></td>
            <td><small>{{ regStats.all.pointsPerGame }}</small></td>
            <td><small>{{ regStats.all.teamGoalsPercentage }}</small></td>
            <td><small>{{ regStats.all.gameWinningGoals }}</small></td>
            <td><small>{{ regStats.all.wins }}</small></td>
            <td><small>{{ regStats.all.losses }}</small></td>
            <td><small>{{ regStats.all.plusMinus }}</small></td>
            <td class="hidden-xs"><small>{{ regStats.all.winPercentage }}</small></td>
        </tr>
        </tfoot>
    </table>
    <h3>Playoff Stats</h3>
    <table id="stats-table-playoffs" class="table table-condensed table-responsive table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th><small><span class="hidden-sm hidden-md hidden-lg">S</span><span class="hidden-xs">Season</span></small></th>
            <th><small>G</small></th>
            <th><small>A</small></th>
            <th><small>P</small></th>
            <th><small>GP</small></th>
            <th><small>GPG</small></th>
            <th><small>APG</small></th>
            <th><small>PPG</small></th>
            <th><small>TG%</small></th>
            <th><small>GWG</small></th>
            <th><small>W</small></th>
            <th><small>L</small></th>
            <th><small>+/- </small></th>
            <th class="hidden-xs"><small>W%</small></th>
        </tr>
        </thead>
        <tbody>
        {% for season, statsLine in playoffStats %}
            {% if season != 'all' %}
                <tr>
                    <td><small><a href="{{ adminRoute('season-page', [statsLine.season]) }}">{{ statsLine.season }}</a></small></td>
                    <td><small>{{ statsLine.goals }}</small></td>
                    <td><small>{{ statsLine.assists }}</small></td>
                    <td><small>{{ statsLine.points }}</small></td>
                    <td><small>{{ statsLine.gamesPlayed }}</small></td>
                    <td><small>{{ statsLine.goalsPerGame }}</small></td>
                    <td><small>{{ statsLine.assistsPerGame }}</small></td>
                    <td><small>{{ statsLine.pointsPerGame }}</small></td>
                    <td><small>{{ statsLine.teamGoalsPercentage }}</small></td>
                    <td><small>{{ statsLine.gameWinningGoals }}</small></td>
                    <td><small>{{ statsLine.wins }}</small></td>
                    <td><small>{{ statsLine.losses }}</small></td>
                    <td><small>{{ statsLine.plusMinus }}</small></td>
                    <td class="hidden-xs"><small>{{ statsLine.winPercentage }}</small></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td><small><strong>Total:</strong></small></td>
            <td><small>{{ playoffStats.all.goals }}</small></td>
            <td><small>{{ playoffStats.all.assists }}</small></td>
            <td><small>{{ playoffStats.all.points }}</small></td>
            <td><small>{{ playoffStats.all.gamesPlayed }}</small></td>
            <td><small>{{ playoffStats.all.goalsPerGame }}</small></td>
            <td><small>{{ playoffStats.all.assistsPerGame }}</small></td>
            <td><small>{{ playoffStats.all.pointsPerGame }}</small></td>
            <td><small>{{ playoffStats.all.teamGoalsPercentage }}</small></td>
            <td><small>{{ playoffStats.all.gameWinningGoals }}</small></td>
            <td><small>{{ playoffStats.all.wins }}</small></td>
            <td><small>{{ playoffStats.all.losses }}</small></td>
            <td><small>{{ playoffStats.all.plusMinus }}</small></td>
            <td class="hidden-xs"><small>{{ playoffStats.all.winPercentage }}</small></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}

{% block custom_script %}
    <script>


        $(document).ready(function() {
            $('#stats-table').DataTable({
                "paging":   false,
                "info":     false,
                "searching": false
            } );
            $('#stats-table-playoffs').DataTable({
                "paging":   false,
                "info":     false,
                "searching": false
            } );
        } );


    </script>

{% endblock %}




