{% extends "base.base.twig" %}

{% block content %}

    {% include 'base.banner.twig' %}
    <div class="row">
        <div class="col-lg-12">

            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="{{ adminRoute('player-stats-specific', [season, playoffs]) }}">Season {{ season }}</a>
                </li>

                <li class="navbar-right hidden-xs" style="padding-right: 12px;">
                    <form  class="form-inline" role="form" method="get" action="/seasons/{{ season }}">
                        <div class="form-group">
                            <label for="seasonSelect"><a id="selectLink" class="btn btn-success" href="{{ adminRoute('player-stats') }}" role="button">Go</a></label>
                            <select id="seasonSelect" name="seasonSelect" class="selectpicker form-control input-sm disable-text-shadow">
                                {% for seasonId in range(1,currentSeason) %}
                                    <option value="{{ seasonId }}" {% if seasonId  == season %}selected{% endif %}>Season {{ seasonId }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </li>
            </ul>
            <br />


            <table class="table table-condensed table-responsive table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><small>Season</small></th>
                    <th><small>Game</small></th>
                    <th><small>Type</small></th>
                    <th><small>White</small></th>
                    <th><small>Colored</small></th>
                </tr>
                </thead>
                <tbody>
                {% for game in games|reverse %}
                    <tr>
                        <td>{{ game.season }}</td>
                        <td><a href="{{ adminRoute('game-page', [game.id]) }}">{{ game.gameNumber }}</a></td>
                        <td>{% if game.playoff %}Playoff{% else %}Regular{% endif %}</td>
                        <td>{{ game.whitePoints }}</td>
                        <td>{{ game.blackPoints }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block custom_script %}
    <script>


        $(document).ready(function() {
            $("#seasonSelect").each(function() {
                $(this).change(function() {
                    updateLink();
                });
            });

            updateLink();
        } );

        function updateLink() {
            seasonVal = $("#seasonSelect option:selected").val();
            $("#selectLink").attr("href", "/seasons/"+seasonVal);
        }
    </script>

{% endblock %}


