{% extends "base.base.twig" %}

{% block content %}

    {% include 'base.banner.twig' %}
    {{ dump(game) }}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1><strong>{% if game.playoff %}Playoff {% endif %}Game {{ game.gameNumber}}, Season {{ game.season }}</strong>{% if auth_user() %} &nbsp;<a type="button" href="/admin/games/{{ game.id }}/edit" class="btn btn-success btn-xs">Edit</a>{% endif %}</h1><br>
        {{ game.gameDate }}<br />
        {{ game.start }} to {{ game.end }}<br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Team <span class="hidden-lg hidden-md"><br /></span>White</h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>G:</strong> {{ setPlayerLink(game.whiteGoalie.id, players)|raw }}
                </div>
            </div>
            {% for player in game.whitePlayers %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>P:</strong> {{ setPlayerLink(player.id, players)|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <h2>Team <span class="hidden-lg hidden-md"><br /></span>Colored</h2>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <strong>G:</strong> {{ setPlayerLink(game.blackGoalie.id, players)|raw }}
                </div>
            </div>
            {% for player in game.blackPlayers %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <strong>P:</strong> {{ setPlayerLink(player.id, players)|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>




    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <table class="table table-condensed table-responsive table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><small>#</small></th>
                    <th><small>GOAL</small></th>
                    <th><small>ASSIST</small></th>
                </tr>
                </thead>
                <tbody>
                {% for goal in game.whiteGoals %}
                    <tr>
                        <td>{{ goal.pointNumber }}</td>
                        <td>{{ setPlayerLink(goal.goalPlayerId, players)|raw }}</td>
                        <td>{{ setPlayerLink(goal.assistPlayerId, players)|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <table class="table table-condensed table-responsive table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th><small>#</small></th>
                    <th><small>GOAL</small></th>
                    <th><small>ASSIST</small></th>
                </tr>
                </thead>
                <tbody>
                {% for goal in game.blackGoals %}
                    <tr>
                        <td>{{ goal.pointNumber }}</td>
                        <td>{{ setPlayerLink(goal.goalPlayerId, players)|raw }}</td>
                        <td>{{ setPlayerLink(goal.assistPlayerId, players)|raw }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}





