

{% block custom_header %}
    <style>
        body {
            padding-top: 80px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
        .form-signin .form-signin-heading,
        .form-signin .checkbox {
            margin-bottom: 10px;
        }
        .form-signin .checkbox {
            font-weight: normal;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }


    </style>
{% endblock %}

{% extends "base.base.twig" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {% if password_reset %}
                        Please set a new password to continue.
                    {% else %}
                        Set Password
                    {% endif %}
                </div>

                <div class="panel-body">
                    {{ form.error_block(errors) }}
                    <form class="form-horizontal" role="form" method="POST" action="{{ url('/auth/password') }}">
                        {{  csrf_field()|raw }}

                        <input type="hidden" name="token" value="{{ token }}">

                        {{ form.input_text_password("password", "Password", "", password, errors)  }}
                        {{ form.input_text_password("password_confirmation", "Confirm Password", "", password_confirmation, errors)  }}
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-2">
                                <a href="/auth/login" class="btn btn-default" role="button">
                                    Cancel
                                </a>
                            </div>
                            <div class="col-lg-8 text-right">
                                <button type="submit" class="btn btn-success">Set Password</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



